<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Recipe</title>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <form method="POST" action="/recipes/<%= recipe.id %>?_method=PATCH">
  <label>Title:</label><br>
  <input type="text" name="title" value="<%= recipe.title %>" required><br><br>

  <label>Description:</label><br>
  <textarea name="description" rows="2" required><%= recipe.description %></textarea><br><br>

  <label>Ingredients:</label><br>
  <input type="text" name="ingredients" value="<%= recipe.ingredients %>" required><br><br>

  <label>Steps:</label><br>
  <textarea name="steps" rows="3" required><%= recipe.steps %></textarea><br><br>

  <button type="submit">Update Recipe</button>
  <a href="http://localhost:3000/recipes">Back</a>
</form>

</body>
</html>