<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= recipe.title %> - Recipe</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="recipe-box">
    <h2><%= recipe.title %></h2>
    <p> Description: <%= recipe.description %> </p>
    <p> Ingredients: <%= recipe.ingredients %> </p>
    <p> Steps: <%= recipe.steps %> </p>
  </div>
</body>
</html>
